{% extends 'partials/base.html' %}
{% block title %} Add Meal {% endblock %}
{% block link %}<link rel="stylesheet" href="../../static/css/addmeal.css" media="screen">{% endblock %}

{% block content %}

{% if not foodPicked %}
<h3>Select Item</h3>
<form name='searchAPI' method='post' action='/searchAPI/'>
    {% csrf_token %}
    <input type='text' name='searchQuery'>
    <button type='submit'>Search</button><br>
</form>
{% endif %}
<br>
{% if foodResults %}
    <form name='submitEntry' method='post' action='/submitEntry/'>
        {% csrf_token %}
        <select name='selectedFood'>
            {%for i in foodResults%}
                <option value="{{i}}">
                    {{i.description}} {%if i.brandName%}, {{i.brandName}} {% endif %}{%if i.servingSize%}({{i.servingSize}}{{i.servingUnit}}){%endif%}
                </option>
            {% endfor %}
        </select>
        <button type='submit'>Confirm Selection</button>
    <form>
{% endif %}
<br>
{% if foodPicked %}
        <form name='submitOptions' method='post' action='/submitOptions/'>
            {% csrf_token %}
            <input type='hidden' value= "{{foodPicked}}" name='rawData'>
            <p>Item: {{foodPicked.description}}</p>
            {%if foodPicked.brandName%}<p>Brand: {{foodPicked.brandName}}</p>{%endif%}
            {%if foodPicked.servingSize%}<p>Serving Size: {{foodPicked.servingSize}}{{foodPicked.servingUnit}}</p>{%endif%}
            <label for='servings'>Servings: </label>
            <input type='number' id='servings' name='servings'>
            <br><br>
            <button type='submit'>Save</button>
        </form>
{% endif %}
<br>

{% endblock %}