<html>
    <head>
        
    </head>

    <!-- Pie Chart -->
    <div id="water" class="" >
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="">
                <h6 class="m-0 font-weight-bold text-primary card_title"></h6>
                <span class="sub_text"></span>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="">
                    <canvas id="myChart" width="400" height="400"></canvas>
                    <canvas class="PieChart"></canvas>
                </div>
            </div>
        </div>
    </div>

   
</html>

