{% extends 'partials/base.html' %}
{% block title %} Create Account {% endblock %}
{% block link %}<link rel="stylesheet" href="../../static/css/createaccount.css" media="screen">{% endblock %}

{% block content %}

<section class="u-align-center u-clearfix u-section-1" id="sec-2605">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-custom-font u-font-roboto-slab u-text u-text-palette-2-light-1 u-text-1" spellcheck="false">Create Account</h1>
      <div class="u-align-center u-form u-form-1">
        <form action="{%url 'createNewUser'%}" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 13px;"  name="form">
          {%csrf_token%}
          <div class="u-form-group u-form-name u-label-left">
            <label for="firstname" class="u-custom-font u-heading-font u-label u-spacing-0 u-label-1">First Name</label>
            <input type="text" id="firstname" name="firstname" class="u-border-1 u-border-grey-30 u-custom-font u-heading-font u-input u-input-rectangle u-white" required="" spellcheck="false" placeholder="Enter first name ">
          </div>
          <div class="u-form-group u-label-left u-form-group-2">
            <label for="lastname" class="u-custom-font u-heading-font u-label u-spacing-0 u-label-2">Last Name</label>
            <input type="text" placeholder="Enter last name" id="lastname" name="lastname" class="u-border-1 u-border-grey-30 u-custom-font u-heading-font u-input u-input-rectangle u-white" spellcheck="false">
          </div>
          <div class="u-form-group u-form-phone u-label-left u-form-group-3">
            <label for="phone" class="u-custom-font u-heading-font u-label u-spacing-0 u-label-3">Mobile Number</label>
            <input type="tel" placeholder="Enter your phone (e.g. 4155552675)" id="phone" name="phone" class="u-border-1 u-border-grey-30 u-custom-font u-heading-font u-input u-input-rectangle u-white" spellcheck="false">
          </div>
          <div class="u-form-email u-form-group u-label-left">
            <label for="email" class="u-custom-font u-heading-font u-label u-spacing-0 u-label-4">Email</label>
            <input type="text" placeholder="Enter your valid email address" id="email" name="email" class="u-border-1 u-border-grey-30 u-custom-font u-heading-font u-input u-input-rectangle u-white" required="" spellcheck="false">
          </div>
          <div class="u-form-group u-label-left u-form-group-5">
            <label for="password" class="u-custom-font u-heading-font u-label u-spacing-0 u-label-5">Password</label>
            <input type="password" placeholder="Create password" id="password" name="password" class="u-border-1 u-border-grey-30 u-custom-font u-heading-font u-input u-input-rectangle u-white" spellcheck="false">
          </div>
          <div class="u-form-group u-label-left u-form-group-6">
            <label for="password2" class="u-custom-font u-heading-font u-label u-spacing-0 u-label-6">Confirm Password</label>
            <input type="password" placeholder="Re-enter password" id="password2" name="password2" class="u-border-1 u-border-grey-30 u-custom-font u-heading-font u-input u-input-rectangle u-white" spellcheck="false">
          </div>
          <div class="u-form-date u-form-group u-label-left u-form-group-7">
            <label for="dob" class="u-custom-font u-heading-font u-label u-spacing-0 u-label-7">Birthday</label>
            <input type="date" placeholder="MM/DD/YYYY" id="dob" name="dob" class="u-border-1 u-border-grey-30 u-custom-font u-heading-font u-input u-input-rectangle u-white" required="" spellcheck="false">
          </div>
          <div class="u-form-group u-form-input-layout-vertical u-form-radiobutton u-label-left u-form-group-8">
            <label class="u-custom-font u-heading-font u-label u-spacing-0 u-label-8">Gender</label>
            <div class="u-form-radio-button-wrapper">
              <div class="u-input-row">
                <input type="radio" name="radiobutton" value="Female" required="required">
                <label class="u-custom-font u-heading-font u-label u-spacing-0 u-label-9" for="radiobutton">Female</label>
              </div>
              <div class="u-input-row">
                <input type="radio" name="radiobutton" value="Male" required="required">
                <label class="u-custom-font u-heading-font u-label u-spacing-0 u-label-10" for="radiobutton">Male</label>
              </div>
              <div class="u-input-row">
                <input type="radio" name="radiobutton" value="Other" required="required">
                <label class="u-custom-font u-heading-font u-label u-spacing-0 u-label-11" for="radiobutton">Other</label>
              </div>
            </div>
          </div>

          {% if message == 'This user already exists' %}
          <span style='color:red'>This user already exists</span>
          {% endif %}


          <div class="u-form-group u-form-submit u-label-left">
            <label class="u-label u-spacing-0 u-label-12"></label>
            <div class="u-align-left u-btn-submit-container">
              <a class="u-border-none u-btn u-btn-submit u-button-style u-custom-color-2 u-btn-1">Submit</a>
            </div>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>


          {% comment %} <input type="hidden" value="" name="recaptchaResponse">
          <input type="hidden" name="formServices" value=""> {% endcomment %}
        </form>
      </div>
    </div>
  </section>

{% endblock %}

