{% extends 'partials/base.html' %}
{% block title %} Create Account {% endblock %}
{% block link %}<link rel="stylesheet" href="../../static/css/createaccount.css" media="screen">{% endblock %}

{% block content %}


<section class="u-align-center u-clearfix u-section-1" id="sec-2605">
  
      <h1 class="u-align-center u-custom-font u-font-roboto-slab u-text u-text-palette-2-light-1 u-text-1" spellcheck="false">Create Account</h1>
      <div class="u-align-center u-form u-form-1">
        <form action="/createNewUser/" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit">
    
        </form>
   
    </div>
  </section>

{% endblock %}

