{% extends 'partials/base.html' %}
{% block title %} Home {% endblock %}
{% block link %} <link rel="stylesheet" href="../../static/css/index.css" media="screen"> {% endblock %}
{% comment %} Make If statement: if login then prelogin/base.html else postlogin/base.html {% endcomment %}

{% block include %}
{% include 'partials/prenav.html' %}
{% endblock %}

{% block content %}

<section class="u-clearfix u-custom-color-5 u-section-1" id="sec-3e54">
  <img src="../../static/images/vegetables.jpeg" class="u-align-left u-expanded-width u-image u-image-1" data-image-width="800" data-image-height="533">
  <div class="u-align-left u-container-style u-group u-radius-50 u-shape-round u-similar-fill u-white u-group-1">
    <div class="u-container-layout u-padding-12 u-container-layout-1">
      <h1 class="u-align-center u-custom-font u-font-roboto-slab u-text u-text-palette-2-light-1 u-text-1" spellcheck="false">Happy Kidney</h1>
      <h1 class="u-align-center u-custom-font u-font-roboto-slab u-text u-text-palette-2-light-1 u-text-2" spellcheck="false">Tracking Meals One Day at a Time</h1>
      <a href={%url 'login'%} class="u-active-palette-2-dark-1 u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-light-2 u-palette-2-light-1 u-radius-50 u-btn-1"> My Nutrition</a>
      <div class="u-carousel u-expanded-width u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-always u-gallery-1" id="carousel-52d2" data-interval="5000" data-u-ride="carousel">
        <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
          <li data-u-target="#carousel-52d2" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
          <li data-u-target="#carousel-52d2" data-u-slide-to="1" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
          <li data-u-target="#carousel-52d2" data-u-slide-to="2" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
        </ol>
        <div class="u-carousel-inner u-gallery-inner" role="listbox">
          <div class="u-active u-carousel-item u-gallery-item u-carousel-item-1">
            <div class="u-back-slide" data-image-width="228" data-image-height="154">
              <img class="u-back-image u-expanded" src="../../static/images/Screenshot2022-11-30at4.22.21PM.png" alt="">
            </div>
            <div class="u-align-center u-over-slide u-shading u-valign-top u-over-slide-1">
              <h2 class="u-custom-font u-font-lobster u-gallery-heading u-subtitle" style="font-size: 1.5rem;"></h2>
              <p class="u-custom-font u-font-titillium-web u-gallery-text" style="">“Life is not living, but living in health.” – Martial</p>
            </div>
          </div>
          <div class="u-carousel-item u-gallery-item u-carousel-item-2" data-image-width="228" data-image-height="154">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="../../static/images/Screenshot2022-11-30at4.22.21PM.png" alt="">
            </div>
            <div class="u-align-center u-over-slide u-shading u-valign-top u-over-slide-2">
              <h2 class="u-custom-font u-font-lobster u-gallery-heading u-subtitle" style="font-size: 1.5rem;"></h2>
              <p class="u-custom-font u-font-titillium-web u-gallery-text" style="">“The way you think, the way you behave, the way you eat, can influence your life by 30 to 50 years.” – Deepak Chopra</p>
            </div>
            <style data-mode="XL" data-visited="true"></style>
            <style data-mode="LG" data-visited="true"></style>
            <style data-mode="MD"></style>
            <style data-mode="SM"></style>
            <style data-mode="XS"></style>
          </div>
          <div class="u-carousel-item u-gallery-item u-carousel-item-3" data-image-width="228" data-image-height="154">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="../../static/images/Screenshot2022-11-30at4.22.21PM.png" alt="">
            </div>
            <div class="u-align-center u-over-slide u-shading u-valign-top u-over-slide-3">
              <h2 class="u-custom-font u-font-lobster u-gallery-heading u-subtitle" style="font-size: 1.5rem;"></h2>
              <p class="u-custom-font u-font-titillium-web u-gallery-text">“The first wealth is health.” – Ralph Waldo Emerson</p>
            </div>
            <style data-mode="XL"></style>
            <style data-mode="LG"></style>
            <style data-mode="MD"></style>
            <style data-mode="SM"></style>
            <style data-mode="XS"></style>
          </div>
        </div>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-52d2" role="button" data-u-slide="prev">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
          </span>
          <span class="sr-only">
            <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
          </span>
        </a>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-52d2" role="button" data-u-slide="next">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
          </span>
          <span class="sr-only">
            <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>

    {% endblock %}

