{% extends 'partials/base.html' %}
{% block title %} Login {% endblock %}
{% block link %} <link rel="stylesheet" href="../../static/css/login.css" media="screen"> {% endblock %}

<p>{{failed}}</p>


{% block content %}
<section class="u-clearfix u-section-1" id="sec-8da5">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1 class="u-align-center u-custom-font u-font-roboto-slab u-text u-text-palette-2-light-1 u-text-1" spellcheck="false">Login</h1>
    <div class="u-form u-login-control u-form-1">
      <form action="/loginAccount/" method="post" class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
        {% csrf_token %}
        <div class="u-form-group u-form-name u-label-top">
          <label for="uname" class="u-label">Username *</label>
          <input type="text" placeholder="Enter your Username" id="uname" name="uname" class="u-border-grey-30 u-input u-input-rectangle u-input-1" required="" spellcheck="false">
        </div>
        <div class="u-form-group u-form-password u-label-top">
          <label for="psw" class="u-label">Password *</label>
          <input type="text" placeholder="Enter your Password" id="psw" name="psw" class="u-border-grey-30 u-input u-input-rectangle u-input-2" required="" spellcheck="false">
        </div>
        
        {% if failed == True %}
        <span style='color:red'>Incorrect Username or Password</span>
        {% endif %}

        <div class="u-align-left u-form-group u-form-submit u-label-top">
          <a href="#" class="u-active-custom-color-3 u-border-none u-btn u-btn-submit u-button-style u-custom-color-2 u-hover-custom-color-2 u-btn-1">Login</a>
          <input type="submit" value="submit" class="u-form-control-hidden">
        </div>
        <input type="hidden" value="" name="recaptchaResponse">
      </form>
    </div>
    <a href={%url "createNewUser"%} class="u-active-none u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-hover-palette-2-base u-text-palette-1-base u-btn-2">Sign Up Now</a>
    <p class="u-text u-text-default u-text-2">Don't Have An Account?</p>
  </div>
</section>


{% comment %} <body >
    <form action="/loginAccount/" method="post">
      {% csrf_token %}
      <h1 class="">Login</h1>
      <div class="formcontainer">
      <hr/>
      <div class="container">
        <label for="uname"><strong>Username</strong></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <label for="psw"><strong>Password</strong></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
      </div>
      {% if failed == True %}
        <span style='color:red'>Incorrect Username or Password</span>
      {% endif %}
      <button type="submit">Login</button>
      <br><br>
      <span><a href="#"> Forgot password?</a></span>
      <br><br>
      <span>New user?</span>
      <br>
      <span style="color:gray"><a href={%url "createNewUser"%}>Create Account</a></span>

    </form>
  </body>
<br> {% endcomment %}

{% endblock %}